{% extends "./layouts/_base.html" %}

{% block content %}
  <h2>About</h2>
  <p>
    This site is intended to nbe used as a reference. It includes a number of examples to demonstrate building a JAMstack site on Netlify.
  </p>
  <p>
    You can explore the source code on Github or clone it and deploy it as your very own version on Netlify by clicking the button below.
  </p>
  <a href="https://app.netlify.com/start/deploy?repository=https://github.com/philhawksworth/netlify-workshop">
    <img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify">
  </a>

{% endblock %}


