<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Raffle time!</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />

  </head>
  <body class="home">
    <header>
      <h1>Ooooh, there's going to be a raffle!</h1>
      <p>We'll be drawing a name later. If you want to be in the draw, add your twitter</p>
    </header>
    <div class="content">
    {% block content -%}{% endblock -%}
    </div>
    <footer>
      This site is hosted on Netlify. You can host your own.
    </footer>
  </body>
</html>
