{% extends "./layouts/_base.html" %}

{% block content %}
<h2>Thanks. Draw soon.</h2>
<a href="#" class="btn" id="btn-spin">Spin</a>
<a href="#" class="btn" id="btn-pick">Pick a winner</a>

<div class="list" id="list">
  {% for item in items %}
  <li class="entry"><a href="https://twitter.com/{{ item.twitterHandle }}"><img src=" http://twivatar.glitch.me/{{ item.twitterHandle }}"></a><a class="name" href="https://twitter.com/{{ item.twitterHandle }}">{{ item.twitterHandle }}</a></li>
  {% else %}
  <li>Nobody wants the tickets!</li>
  {% endfor %}
</div>
{% endblock %}


{% block bodyend %}
  <script src="/js/raffle.js"></script>
{% endblock %}
