{% extends "./layouts/_base.html" %}

{% block content %}

<h2>Smashing Conference prize draw</h2>
<p>
  You came to sit in this room and eat your lunch while Phil prattled on. The least you deserve is the chance to win a bit of swag.
</p>
<p>
  To enter the draw, add your Twitter handle to the pot.
</p>

<form name="raffle-smashing-conf" netlify-honeypot="full-name" action="/draw" netlify>
  <p class="honey">
    <label>Your full name: <input name="full-name"></label>
  </p>
  <p>
    <label for="twitter">Your twitter handle<small>No spamming. We promise.</small></label>
    <input type="text" name="twitter" id="twitter">
  </p>
  <p>
    <button type="submit" class="btn">Enter the raffle</button>
  </p>
</form>


<p>
  Who is already in <a href="/draw">the draw</a>?
</p>
{% endblock %}


