@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia, serif;
  line-height: 1.6em;
  font-size: 16px;
  @include bp(mid) {
    font-size: 18px;
  }
  @include bp(wide) {
    font-size: 20px;
  }
}

.container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  @include bp(mid) {
    text-align: left;
    width: 560px;
  }
  @include bp(wide) {
    width: 900px;
  }
}



h1, h2, h3 {
  line-height: 1.3em;
}

h2 {
  padding-bottom: 1em;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.8em
}

header,
footer {
  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

header {
  .container {
    border-bottom: solid 4px rgba(0,0,0,0.04);
    @include bp(narrow) {
      border-bottom: solid 8px rgba(0,0,0,0.04);
    }
    @include bp(mid) {
      border-bottom: solid 16px rgba(0,0,0,0.04);
    }
  }
}

footer {
  font-size: 0.8em;
  .container {
    border-top: solid 4px rgba(0,0,0,0.04);
    @include bp(narrow) {
      border-top: solid 8px rgba(0,0,0,0.04);
    }
    @include bp(mid) {
      border-top: solid 16px rgba(0,0,0,0.04);
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.content {
  padding-top: 1em;
  padding-bottom: 1em;
  @include bp(mid) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}



form {
  padding-top:2em;
}


label {
  color: #333;
  font-style: italic;
  small {
    font-size: 0.7em;
    margin-left: 0.4em;
  }
}

input {
  width: 70%;
  border: solid 4px #eee;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.02);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  font-family: georgia, serif;
  font-size: 18px;
  font-style: italic;
}

.btn,
button {
  padding: 0.6em 1em 0.6em 1em;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 2px;
  color: #000;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,.2);
  font-size: 0.9em;
  font-family: georgia, serif;
  font-style: italic;

  &:hover,
  &:focus {
    color: rgb(192, 255, 17);
    background-color: rgba(0,0,0,1);
    cursor: pointer;
  }
  &:active {
    color: rgba(0,0,0,1);
    background-color: rgb(192, 255, 17);
  }
}


.honey {
  display: none;
}

.entry {
  background-color: transparent;
}

.selected {

}


.list {

  padding-top: 2em;
  text-align: center;

  .entry {
    display: inline-block;
    text-align: center;
    width: 19%;
    padding-top:0.4em;
    margin-top:1em;
    border-radius: 3px;

    @include bp(mid) {
      width: 16%;
    }

    img {
      width:60px;
      border-radius: 34px;
      border-style: solid;
      border-width: 4px;
      border-color: #333;

      @include bp(mid) {
        width:70px;
        border-radius: 74px;
        border-width: 4px;
      }
      @include bp(wide) {
        width:100px;
        border-radius: 56px;
        border-width: 6px;
      }
    }

    a.name {
      display: none;
      @include bp(mid) {
        display: block;
        text-decoration: none;
        font-size: 0.8em;
      }
    }
  }

  .entry.selected {
    background-color: #222;
    a {
      color: #fff;
    }
    img {
      border-color: greenyellow;
    }
  }
}
