@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-color;
  color:  $text-color;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia, serif;
  line-height: 1.6em;
  font-size: 16px;
  @include bp(mid) {
    font-size: 18px;
  }
  @include bp(wide) {
    font-size: 20px;
  }
}

.container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  @include bp(mid) {
    text-align: left;
    width: 560px;
  }
  @include bp(wide) {
    width: 900px;
  }
}


h1, h2, h3 {
  line-height: 1.3em;
}

h2 {
  padding-bottom: 1em;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.8em
}

a:link,
a:visited {
  text-decoration: none;
  color: $text-color-bold;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $body-color, 60%);
}
a:hover,
a:focus {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: mix($text-color, $body-color, 60%);
}

a.dtn{
  border-bottom-style: none;
}


header,
footer {
  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

header {
  .container {
    border-bottom: solid 4px mix($text-color, $body-color, 5%);
    @include bp(narrow) {
      border-bottom: solid 8px mix($text-color, $body-color, 5%);
    }
    @include bp(mid) {
      border-bottom: solid 16px mix($text-color, $body-color, 5%);
    }
  }
}

footer {
  font-size: 0.8em;
  .container {
    border-top: solid 4px mix($text-color, $body-color, 5%);
    @include bp(narrow) {
      border-top: solid 8px mix($text-color, $body-color, 5%);
    }
    @include bp(mid) {
      border-top: solid 16px mix($text-color, $body-color, 5%);
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.content {
  padding-top: 1em;
  padding-bottom: 1em;
  @include bp(mid) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}


form {
  padding-top:2em;
  padding-bottom:2em;
}


label {
  color: mix($text-color, $body-color,90%);
  font-style: italic;
  small {
    color: mix($text-color, $body-color, 60%);
    font-size: 0.7em;
    margin-left: 0.4em;
  }
}

input {
  width: 70%;
  border: solid 4px mix($text-color, $body-color, 30%);
  border-radius: 4px;
  background-color: mix($text-color, $body-color, 5%);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  font-family: georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: $text-color;
}

a.btn:link,
a.btn:visited,
button {
  padding: 0.6em 1em 0.6em 1em;
  text-decoration: none;
  border-style:none;
  border-bottom-style: none;
  border-radius: 3px;
  color: $accent-color-contrast;
  background-color:$accent-color;
  box-shadow: 0 0px 8px 0 mix($text-color, $body-color, 50%);
  font-size: 0.9em;
  font-family: georgia, serif;
  font-style: italic;

  &:hover,
  &:focus {
    border-style: none;
    background-color:$accent-color-contrast;
    color: $accent-color;
    cursor: pointer;
  }
  &:active {
    background-color: $accent-color-contrast;
    color: $accent-color;
  }
}

.meta {
  font-size: 0.7em;
  font-style: italic;
  padding-left: 0.4em;
}

.honey {
  display: none;
}

.entry {
  background-color: transparent;
}


.list {

  padding-top: 2em;
  text-align: center;

  .entry {
    display: inline-block;
    text-align: center;
    width: 19%;
    padding-top:0.4em;
    margin-top:1em;
    border-radius: 3px;

    @include bp(mid) {
      width: 16%;
    }

    img {
      width:50px;
      border-radius: 27px;
      border-style: solid;
      border-width: 2px;
      border-color: $text-color;
      @include bp(narrow) {
        width:60px;
        border-radius: 34px;
        border-width: 4px;
      }

      @include bp(mid) {
        width:70px;
        border-radius: 74px;
        border-width: 4px;
      }
      @include bp(wide) {
        width:100px;
        border-radius: 56px;
        border-width: 6px;
      }
    }

    a:link,
    a:visited {
      border-bottom-style: none;
    }

    a.name {
      display: none;
      border-bottom-style: none;
      @include bp(mid) {
        display: block;
        text-decoration: none;
        font-size: 0.8em;
      }
    }
  }

  .entry.selected {
    background-color: mix($text-color, $body-color, 95%);
    a {
      color: mix($text-color, $body-color, 10%);
    }
    img {
      border-color: $accent-color;
    }
  }

  .entry.selected.winner {
    background-color: red;
    a {
      color: mix($text-color, $body-color, 10%);
    }
    img {
      border-color: $accent-color;
    }
  }
}
